body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    position: relative;  /* Added relative positioning to the body */
}

header, nav, main, aside {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 90%;
}

header {
    text-align: center;
    position: relative;  /* Added relative positioning to the header */
}

nav ol {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    background-color: #f2f2f2;
    padding: 20px 0;
}

nav ol li a {
    color: #333333;
    text-decoration: none;
}

nav ol li a:hover {
    color: #ff0000;  /* Change the text color on hover */
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 70%;
}

aside {
    width: 20%;
    margin: 20px 0;
    position: absolute;  /* Added absolute positioning to the aside */
    right: 80px;
      /* Positioned the aside on the right */
}

/* Additional Styling */

.myClass {
    font-size: 1.5em;
    background-color: #f2f2f2;
    padding: 50px;
}

#myID {
    color: #ff0000;
}

/* Image Styles */
header img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
